// Custom vars bootstrap
// $font-family-base: sans-serif;
$line-height-base: 1.4;
$body-bg: #fff;
$body-color: #000;

$primary: #024DDF; // #024DDF

$input-btn-padding-y: 8px;
$input-btn-padding-x: 16px;
