$font-size-base: 1rem;
$font-family-base: Inter, Avenir, Helvetica, Arial, sans-serif;

$brand-color-primary: #0c7bc4;
$brand-color-secondary: #eeb014;

$body-background: #fefefe;
$body-color: #222;

// project breakpoints
$gap-size: 20px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
